<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>@Titulo_da_Publição</mat-card-title>
    <BR>
    <mat-card-subtitle>@PublicadorID</mat-card-subtitle>
    <BR>
  </mat-card-header>

  <mat-icon>build</mat-icon>
  <mat-icon>build</mat-icon>
  <mat-icon>build</mat-icon>
  <mat-icon>build</mat-icon>
  <mat-icon>build</mat-icon>

<input matInput [(ngModel)]="">
  <mat-card-content>
    <H1>PUBLIS</H1>
    <H1>PUBLIS</H1>
    <H1>PUBLIS</H1>
    <H1>PUBLIS</H1>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
